[user]
	email = andre.jonas@gmail.com
	name = André Jonas
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDOQapYiKLeONoJCwc2Xy+/twv9TEUvvmRosdYkmvx3fZlj0FOcLLMakbWw6E7xRPTCBkLTStJAEw4YvxDBLmRdOLwzUzAWammepROr/NagVNi++BXzBVQ0uwrs7OovFMFQr8U6yBxrZP8znvWOkLXCdIKi+CPA4mIb/OVVoJZgPAp7+NErSY2d4BptHQoHl5+AB5Puc416/KyZfRyqsxx1Hf+9I7XRjwNSvkgHPWsuXincZx/eYrv3ykl2+CK76dtBNh/x1XvLzuGxB5NcpUiPY/reuz+557U8zVJZUw9y42ifBYzFzJ1aEHftFurzfUinfQFEUjsByVDQAmXyUOwbdOqXkmoKvvuch7H/75BOyThVNBzEge3Ndrz0SCNtc9BOJ3FhcdYp3DnUjgP6Xy9v+Qb6cAYhMm4r2Mjxh/R9OHR6+4RsE+0k8GyB1t2HhKunw7pViHNrFPrvspFuV2rPNSjH/9M9cDJRYNXQbItKCVcmmfdqM41OSvNDhqIXPRVNduosNfNAClH+ysZlKiOiWTGP+hSDe6W6R3gLUjAZrb6/op7/EhPnNkiJchs+Bd6vzIyKNUxcJUc4ySrnn0rXmqKG2dHt53asyJK2VY5m89MPosT2q/w8ABelOjuOGsPdREl42mSYSzvE8SumFZfGZWxWSoyFb0HQOGJpb9KQ9w==

[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait

[alias] 
	last = log -1 HEAD
	uncommit = reset --soft HEAD^
	unstage = reset HEAD --
	staged = diff --cached
	vlog = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
	previous = checkout @{-1}

[commit]
	gpgsign = true

[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[url "git@github.com:"]

	insteadOf = "gh:"
#        insteadOf = "https://github.com/"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]

	insteadOf = "github:"

[url "git@gist.github.com:"]

	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]

	insteadOf = "gist:"

[tag]
	gpgsign = true
