[user]
	email = andre.jonas@gmail.com
	name = André Jonas
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDOQapYiKLeONoJCwc2Xy+/twv9TEUvvmRosdYkmvx3fZlj0FOcLLMakbWw6E7xRPTCBkLTStJAEw4YvxDBLmRdOLwzUzAWammepROr/NagVNi++BXzBVQ0uwrs7OovFMFQr8U6yBxrZP8znvWOkLXCdIKi+CPA4mIb/OVVoJZgPAp7+NErSY2d4BptHQoHl5+AB5Puc416/KyZfRyqsxx1Hf+9I7XRjwNSvkgHPWsuXincZx/eYrv3ykl2+CK76dtBNh/x1XvLzuGxB5NcpUiPY/reuz+557U8zVJZUw9y42ifBYzFzJ1aEHftFurzfUinfQFEUjsByVDQAmXyUOwbdOqXkmoKvvuch7H/75BOyThVNBzEge3Ndrz0SCNtc9BOJ3FhcdYp3DnUjgP6Xy9v+Qb6cAYhMm4r2Mjxh/R9OHR6+4RsE+0k8GyB1t2HhKunw7pViHNrFPrvspFuV2rPNSjH/9M9cDJRYNXQbItKCVcmmfdqM41OSvNDhqIXPRVNduosNfNAClH+ysZlKiOiWTGP+hSDe6W6R3gLUjAZrb6/op7/EhPnNkiJchs+Bd6vzIyKNUxcJUc4ySrnn0rXmqKG2dHt53asyJK2VY5m89MPosT2q/w8ABelOjuOGsPdREl42mSYSzvE8SumFZfGZWxWSoyFb0HQOGJpb9KQ9w==

[alias] 
	# List available aliases
	aliases = !git config --get-regexp '^alias\\.' | sed 's/alias\\.//' | sort
	# Command shortcuts
	ci = commit
	co = checkout
	st = status
	sw = switch
	# Display the last commit message
	last = log -1 HEAD
	## Useful when forgetting to commit files
	oops = commit --amend --no-edit
	# Go to the previous branch
	previous = checkout @{-1}
	# Diff all changes, including staged files
	staged = diff --cached
	# Undo last commit but keep  changed files in stage
	uncommit = reset --soft HEAD^
	# Unstage all changes
	unstage = reset HEAD --
	# Display tree-like logs
	vlog = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
	# alternative: log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'

[commit]
	gpgsign = true

[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	pager = delta

[delta]
	navigate = true
	line-numbers = true
	dark = true

	# Tokionight storm theme
	# https://github.com/folke/tokyonight.nvim/blob/main/extras/delta/tokyonight_storm.gitconfig
	minus-style                   = syntax "#3f2d3d"
	minus-non-emph-style          = syntax "#3f2d3d"
	minus-emph-style              = syntax "#763842"
	minus-empty-line-marker-style = syntax "#3f2d3d"
	line-numbers-minus-style      = "#b2555b"
	plus-style                    = syntax "#283b4d"
	plus-non-emph-style           = syntax "#283b4d"
	plus-emph-style               = syntax "#316172"
	plus-empty-line-marker-style  = syntax "#283b4d"
	line-numbers-plus-style       = "#266d6a"
	line-numbers-zero-style       = "#3b4261"

[fetch]
	prune = true # delete outdated remote references

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = ~/.ssh/allowed_signers

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = zdiff3

[status]
	short = true  # Give the output in a shorter format
	branch = true # Show the current branch name
[tag]
	gpgsign = true

[url "git@github.com:"]

	insteadOf = "gh:"
#        insteadOf = "https://github.com/"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]

	insteadOf = "github:"

[url "git@gist.github.com:"]

	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]

	insteadOf = "gist:"

